<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="geo.piskas.crydev"
    android:versionCode="6"
    android:versionName="1.2.1" >

    <uses-sdk android:minSdkVersion="7" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/title_crydev"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Crydev"
            android:label="@string/title_crydev"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Geo.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NewsHome"
            android:label="@string/title_news"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Bookmarks"
            android:label="@string/title_bookmarks"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".NewsPost"
            android:label="@string/title_news"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ForumHome"
            android:label="@string/title_forum"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".SubForum"
            android:label="@string/title_forum"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ForumThread"
            android:label="@string/title_thread"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".About"
            android:label="@string/title_about"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Geo.Dialog" >
        </activity>
        <activity
            android:name=".Ce3_1"
            android:label="@string/title_ce3"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Ce3_2"
            android:label="@string/title_ce3"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Ce3_3"
            android:label="@string/title_ce3"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Ce2_1"
            android:label="@string/title_ce2"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Ce2_2"
            android:label="@string/title_ce2"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Ce2_3"
            android:label="@string/title_ce2"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".PostReply"
            android:label="@string/title_reply"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Geo.Dialog"
            android:windowSoftInputMode="stateVisible" >
        </activity>
        <activity
            android:name=".LoginDetails"
            android:label="@string/title_login"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Geo.Dialog"
            android:windowSoftInputMode="stateVisible" >
        </activity>
        <activity
            android:name=".Prefs"
            android:label="@string/title_prefs"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>